
.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  color: white;
  font-size: 0.9rem;
  transition: 0.3s;
  
}
  