.button{

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  height: 5rem;
  width: 15rem;
  transition: 0.3s;
  margin: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  border: black double;
  color: black;
  background-color: rgb(248, 245, 252);
  margin-left: 30%;
  font-family:"Press Start 2P",cursive;
    
    
}