.Container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2vh 1vw;
  background-color: rgb(248, 245, 252);;
}
.Team-jessie{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 25rem;
  width: 27rem;
  margin-left: 12%;
  top: 10%;
  border: violet double;
  box-sizing: border-box;
  min-height: 70vh;
  box-sizing: border-box;
  backdrop-filter: blur(6px);
}
.Team-ash{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 25rem;
  width: 27rem;
  margin-left: 17%;
  top: 10%;
  border: red double;
  box-sizing: border-box;
  min-height: 70vh;
  box-sizing: border-box;
 
  backdrop-filter: blur(6px);
}
.jessie {
    margin-top: 17%;
    position: absolute;
    height: 20rem;
    width: 10rem;
    margin-right: 85%;
   
}
.Ash {
    margin-top: 17%;
    position: absolute;
    height: 19rem;
    width: 9.4rem;
    margin-left: 15%;
    
}
.Team-tilte-jessie{
  display: flex;
  font-family:"Press Start 2P",cursive;
  justify-content: center;
  font-size: 1rem;
  color: violet;
  
}
.Team-tilte-ash{
  display: flex;
  font-family:"Press Start 2P",cursive;
  justify-content: center;
  font-size: 1rem;
  color: red;
  
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  font-family:"Press Start 2P",cursive;
  font-size: 2.5rem;
  
}
.Pokedex{
  display: flex;
  margin-top: 1.5%;
  border: orange double;

  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.icon{
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  margin: 25px 0 0 50px;
  background-color: red;
  color: white;
  border-radius: 100px 100px 100px 100px;
  width: 100px;
  height: 100px;
}