.App_bar {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: 100vh;
  padding: 2vh 1vw;
  box-sizing: border-box;
    background-color: rgb(148, 23, 23);
}

.App_body {
    display: block;
    position: relative;
    background-color: rgb(248, 245, 252);
    height: 26rem;
    width: 29.188rem;
    margin: auto;
    top: 10%;
    border: black double;
}

.photo {
    margin-top: 24%;
    position: absolute;
    height: 20rem;
    width: 10rem;
    margin-right: 50%;
}

.pikachu {
    margin-top: 37%;
    position: absolute;
    height: 10rem;
    width: 10rem;
    margin-left: 50%;
}

.form-header {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  font-family:"Press Start 2P",cursive;

  
}
.font{
    display: flex;
  justify-content:center;
  align-items:center;
  text-align:justify;
  font-size: 1.2rem;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  box-sizing: border-box;
  
  font-family:"Press Start 2P",cursive;
    
}

